@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --color-surface-container-low: #091328;
  --color-on-secondary: #33005b;
  --color-background: #060e20;
  --color-surface-dim: #060e20;
  --color-secondary-dim: #9c48ea;
  --color-on-primary: #0f00a4;
  --color-on-secondary-fixed-variant: #7511c3;
  --color-on-secondary-container: #e9cdff;
  --color-surface-bright: #1f2b49;
  --color-on-tertiary-fixed: #3b002b;
  --color-inverse-primary: #494bd7;
  --color-on-tertiary-container: #63054a;
  --color-on-tertiary: #701455;
  --color-on-primary-fixed-variant: #0e009d;
  --color-primary: #a3a6ff;
  --color-on-background: #dee5ff;
  --color-on-secondary-fixed: #4f0089;
  --color-inverse-surface: #faf8ff;
  --color-on-surface-variant: #a3aac4;
  --color-on-error: #490013;
  --color-on-tertiary-fixed-variant: #6e1354;
  --color-primary-fixed-dim: #8387ff;
  --color-secondary: #c180ff;
  --color-outline: #6d758c;
  --color-on-error-container: #ffb2b9;
  --color-primary-dim: #6063ee;
  --color-on-surface: #dee5ff;
  --color-on-primary-fixed: #000000;
  --color-tertiary-dim: #ef81c4;
  --color-secondary-fixed: #e5c6ff;
  --color-outline-variant: #40485d;
  --color-inverse-on-surface: #4d556b;
  --color-error-dim: #d73357;
  --color-on-primary-container: #0a0081;
  --color-secondary-fixed-dim: #dbb4ff;
  --color-error: #ff6e84;
  --color-primary-fixed: #9396ff;
  --color-tertiary-container: #ff8ed2;
  --color-surface-container: #0f1930;
  --color-primary-container: #9396ff;
  --color-error-container: #a70138;
  --color-surface: #060e20;
  --color-secondary-container: #6f00be;
  --color-surface-container-lowest: #000000;
  --color-tertiary-fixed-dim: #ef81c4;
  --color-surface-variant: #192540;
  --color-tertiary-fixed: #ff8ed2;
  --color-surface-tint: #a3a6ff;
  --color-surface-container-high: #141f38;
  --color-tertiary: #ffa5d9;
  --color-surface-container-highest: #192540;

  --animate-shimmer: shimmer 2s infinite;
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

@layer base {
  body {
    @apply bg-background text-on-surface font-sans selection:bg-primary/30 min-h-screen;
  }
}

@layer components {
  .glass-panel {
    @apply bg-[rgba(25,37,64,0.6)] backdrop-blur-[20px];
  }
  .primary-gradient {
    @apply bg-linear-to-br from-[#a3a6ff] to-[#9396ff];
  }
  .ai-pulse {
    @apply bg-radial from-[#c180ff] to-[#9c48ea];
  }
}
